body {
    background-color: burlywood;
    font-size: 16px;
    font-weight: bold;
}

.encabezadogeneral {
    background: cadetblue;
    font-size: 40px;
    font-weight: lighter;
    color: maroon;
    border: 3px solid black ;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

#header4 {
    background: greenyellow;
    font-weight: 900;

}

.second-header {
    background: grey;
    font-size: 20px;
    color: blue;
    font-weight: normal;
}

[data-type='lastheader'] {
    background: lightcoral;
    font-weight: 100;
}
